* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #000000;
	color: #fefefe;

	::selection {
		background-color: #fefefe;
		color: #000000;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Clash Grotesk", sans-serif;
	}

	p {
		font-family: "General Sans", sans-serif;
	}
}

#preLoader {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: none;

	.quote {
		font-weight: 300;
		font-size: 5vw;
	}
}

#hero {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	padding: 1rem 0;

	h1 {
		font-weight: 300;
		font-size: 5vw;
		text-align: center;
		text-transform: capitalize;
		font-style: italic;
	}

	.heroContent {
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;

		.nameWrapper {
			h2 {
				font-weight: 450;
				text-transform: uppercase;
			}

			.firstName {
				font-size: 11.5vw;
			}

			.lastName {
				translate: 0 -40%;
				font-size: 8vw;
			}
		}
	}
}
